.headerPic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  max-height: 42rem;
  max-width: auto;
  width: auto;
  height: auto;
  border-radius: 15rem;
  filter: grayscale(100%) blur(0.75rem);
}
.headerPic2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  max-height: 27rem;
  max-width: auto;
  width: auto;
  height: auto;
  border: 0.5rem;
  border-radius: 15rem;
  border: 0.5rem solid darkslategray;
}

.headerPic {
  z-index: 1;
}

.headerPic2 {
  z-index: 2;
}
