.work {
  padding-top: 1.5rem;
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
  color: #424242;
}

.mywork {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.mywork a {
  text-decoration: none;
  color: white;
  background-color: maroon;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 25rem;
  height: 20rem;
  transition: background-color 0.5s ease;
}

.mywork h3 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  color: gainsboro;
  background-color: darkslategrey;
  border: 0.5rem solid maroon;
  border-radius: 5rem;
}

.horiseon {
  background-image: url(https://drive.google.com/uc?export=view&id=1puId1NIM5dGajINrMk5rgutRofPOFWvi);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.horiseon:hover {
  filter: grayscale(0%);
  transition: filter 0.75s ease;
}

.project1 {
  background-image: url(https://drive.google.com/uc?export=view&id=1sTdn9i1Lxq2xau7Ot6ZMnakrhJg9H-l5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.project1:hover {
  filter: grayscale(0%);
  transition: filter 0.75s ease;
}

.project2 {
  background-image: url(https://drive.google.com/uc?export=view&id=1WTbSX6VxXcO4DwoXxNA34hBcGrxALyFf);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.project2:hover {
  filter: grayscale(0%);
  transition: filter 0.75s ease;
}

.github-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.github-links a {
  text-decoration: none;
  color: #424242;
  font-size: 1.2em;
  transition: color 0.5s ease;
}

.github-links a:hover {
  color: red;
}
