* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  margin-top: auto;
  max-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  position: absolute;
  bottom: 0;
  padding: 0 20px;
}

footer {
  margin-top: auto;
  max-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: darkslategray;
  color: white;
  text-align: center;
  width: 100%;
}

footer img {
  display: flex;
  justify-content: space-between;
  width: 5rem;
  height: auto;
  margin: 0 0.5rem;
  align-items: center;
}

.githubLogo {
  width: 9rem;
  height: auto;
  margin: 0 0.5rem;
}

.mainPicture {
  width: auto;
  height: 100%;
  margin: 0 auto;
  display: block;
}
