footer {
  margin-top: auto;
  max-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  position: absolute;
  bottom: 0;
  padding: 0 20px; /* Add padding for better spacing */
}

footer .githubLogo,
footer .linkedInLogo {
  width: 9rem;
  height: auto;
  margin: 20px auto; /* Shorthand for top and bottom margin */
  display: block;
}

.mainPicture {
  width: auto;
  height: 100%;
  margin: 0 auto;
  display: block;
}