.container {
  text-align: center;
  display: block;
}

.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

h1 {
  margin-top: 4.5rem;
  color: gainsboro;
  font-size: 2.5em;
  margin-bottom: 5px;
}

.headshot {
  border-radius: 50%;
  border: .5rem solid darkslategray;
  max-width: 20rem;
  height: auto;
  margin-bottom: 10px;
}

h2 {
  color: #424242;
  font-size: 1.5em;
}

.bio {
  line-height: 1.6;
}
