/* Portfolio.css */

#work {
  padding-top: 1.5rem;
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
  color: #333; /* Adjust color as needed */
}

.mywork {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.mywork a {
  text-decoration: none;
  color: #fff;
  background-color: maroon; /* Adjust background color as needed */
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 25rem;
  height: 20rem;
  transition: background-color 0.5s ease;
}

.mywork a:hover {
  background-color: red; /* Adjust hover background color as needed */
}

.mywork h3 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  color: white;
  background-color: darkslategrey;
  border: .5rem solid maroon;
  border-radius: 5rem;
}

.horiseon {
  background-image: url(./src/assets/Horiseon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.horiseon:hover {
  filter: grayscale(0%);
  transition: filter 0.75s ease;
}


.project1 {
  background-image: url(./src/assets/moody-main.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.project1:hover {
  filter: grayscale(0%);
  transition: filter 0.75s ease;
}

.project2 {
  background-image: url(./src/assets/Project2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.project2:hover {
  filter: grayscale(0%);
  transition: filter 0.75s ease;
}
